* {
    user-select: none;
}
h1,h3,p,a,button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.onepage{
    height: 750px;
}
.onepage-bg{
    height: 800px;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}
#onepagebg{
    background-image: url("./img/top.png");
}
.headh1content{
    margin-top: 150px;
    line-height: 75px;
}
.title-text{
    margin-left: 50px;
}

.headfontsize{
    font-size: 50pt;
    color: white;
}
.headfontsize p{
    color: white;
}
.twopage{
    padding-inline-end: 2px 0 0 2px;
    height: auto;
    background-image: url(./img/bottom.png);
    position: absolute;
}
.twopage-text{
    width: 100%;
    text-align: center;
    color: rgb(68, 221, 175);
}
.twopage-text-h1{
    margin-left: 120px;
    letter-spacing: 2px;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 20px 0 0 0;

}
.twopage .row{
    margin-right: 20px;
    margin-left: 20px;
}

.twopage-courses{
    margin-top: 50px;
    float:left;
    background:white;
    padding: 0 0 0 0;
    position: relative;
    overflow: hidden;
    border-radius: 50% !important;
}

.twopage-courses >a{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.classicon h3{
    margin-top: 50px;
    color: #d1e973;
}
.classicon h1{
    margin-top: 50px;
    color: #fff5e1;
}

.classicon{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    opacity: 0;
}
.classicon:hover{
    background: #0084c6;
    opacity: 0.7;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.twopagebtn{
    width: 100%;
    margin: 0% auto;
    text-align: center;
}
.twopagebtn .btn-lg{
    font-size: 25px;
}

#twopage-easy{
    margin: 50px 0;
    margin-bottom: 80px;
}